<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test task</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">


      <form role="form" id="form-url" action method="post">{% csrf_token %}
      <div class="jumbotron">
        <h1>Welcome to test URL Shortener</h1>

        <p class="lead">Enter your URL below</p>

           <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">url:</span>
              {{ form.url }}

            </div>
          <br/>
        <p><input type="submit" class="btn btn-lg btn-success" value="Generate URL" role="button"></p>
      </div>
      </form>
        {% if result %}
        <div class="alert alert-success" role="alert">
            Success! Your short link: {{ short_url }}
        </div>
        {% endif %}
        {% if msg %}
        <div class="alert alert-warning" role="alert">
            {{ msg }}
        </div>
        {% endif %}



      <footer class="footer">
        <p>&copy; Aleksandr Protciuk</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>